@import './reset.css';
@import './base.css';
@import url("https://fonts.googleapis.com/css?family=Montserrat:600,400");

body {
	font-family: "Montserrat";
	font-weight: 400;
}

:root {
	color-scheme: dark;
}

.divide {
	margin-top: 1.5rem;
}

div.measure-scrollbar {
	visibility: hidden;
	width: 100px;
	overflow: scroll;
}

body.modal-open {
	overflow: hidden;
	user-select: none;
}

#modals:has(div.modal-wrapper) {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}

/* MODAL DESIGNS */

div.modal-container div.button-row {
	display: flex;
	place-content: flex-end;
	border-top: 1px solid var(--c-gray);
	padding-top: 1em;
}

button.modal {
	font-weight: 600;
	text-transform: capitalize;
	margin-right: 1em;
	font-size: 0.8rem;
	padding: 0.9em 1.2em 0.8em 1.2em;
}
button.modal:last-of-type {
	margin-right: 0;
}

button.modal.red {
	background-color: var(--c-red);
	transition: background-color 0.25s;
}
button.modal.red:hover {
	background-color: hsl(from var(--c-red) h s calc(l - 10));
}

button.modal.green {
	background-color: var(--c-green);
	transition: background-color 0.25s;
}
button.modal.green:hover {
	background-color: hsl(from var(--c-green) h s calc(l - 5));
}
